@using TravelTripProject.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
<script src="~/web/js/jquery.min.js"></script>
<script src="~/web/js/responsiveslides.min.js"></script>

<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 1
        $("#slider1").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
        });
    });
</script>



<!DOCTYPE HTML>
<html>

<body>

    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Seyehat Planları</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restoranlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Yapılacaklar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Araba Kirala</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:650px; height:360px; ">

                            <ul class="rslides" id="slider1" >
                                @foreach (var x in Model)
                                {
                                    <li><img src="@x.BlogImage" alt="" ></li>
                                }



                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tatil Seyehat Bloğuma Hoşgeldiniz!</h3>
                    <p>
                        Bu blogta gezip gördüğüm yerleri sizlerle paylaşmak istediğim için yapıyorum.
                        Bu projeyi MVC5 kodlama dili ile Ekim 2021'de başladım. İlk MVC projem budur.
                        Kendimi geliştirmek için elimden geleni yapıp sizlere ço k daha güzel projeler sunacağım.
                    </p>
                </div>

                @Html.Action("Partial1", "Default")

                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3", "Default");
                        
                        @Html.Action("Partial4", "Default");
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


