@using TravelTripProject.Siniflar
@model List<Blog>

@foreach (var x in Model)
{


<div class="box1-left">
    <div class="bot-img">
        <img src="@x.BlogImage" alt="" />
    </div>
    <div class="bot-desc1">
        <p>@x.Aciklama.Substring(0,80)...</p>
    </div>
    <div class="clear"></div>
  
</div>

}